@model SG_EjerciciosUd8.Models.Entities.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <p>
        Nombre: @Model.Nombre </br>
        Apellido1: @Model.Apellido1 </br>
        Apellido2: @Model.Apellido2 </br>
        Direccion: @Model.Direccion </br>       
    </p>
</body>
</html>
